################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/People/FileContentIndex
\Documentacion\Pautas
.vs/FormulaOne/FileContentIndex/fcc2f7bc-42e2-4d32-8a8c-4e5b2df9e3e9.vsidx
*.vsidx
*.vsidx
People/Persistence/DBBroker.vb
People/Persistence/DBBroker.vb
People/Persistence/DBBroker.vb
People/Persistence/DBBroker.vb
*.pdb
/People/obj/Release
*.sqlite
.vs/FormulaOne/v17/.suo
